# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @WholeHorse

/backend/ @DSFKnight
/backend/api/ @DSFKnight @artich02
/backend/skill_division/ @DSFKnight

/frontend/ @ofuuse

/bot/ @artich02 @DSFKnight

/docker-compose.yml @WholeHorse @DSFKnight
/.github/ @WholeHorse
/.env.example @WholeHorse

/docs/ @WholeHorse
/CONTRIBUTING.md @WholeHorse
/README.md @WholeHorse
