# ==========================================
# SkillDivision Backend Dependencies
# Python: 3.11.9
# Дата обновления: Декабрь 2024
# ==========================================

# Django Framework (LTS до апреля 2026)
Django>=6.0.4
djangorestframework>=3.14
psycopg2-binary>=2.9
python-dotenv>=1.0
django-cors-headers>=4.3
gunicorn
drf-yasg
